<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <p>GANPATI BAPPA</p>
    <h1  align="middle">Expense Tracker</h1>
    <form align="middle" method="POST" action="/add">
        <input type="text" name="category" placholder="Category" required>
        <input type="number" name="amount" placeholder="Amount" required>
        <button type="submit">Add Expense</button>
    </form>
    <h2 align="middle">All Expense</h2>
    <table align="middle" border="1">
        <tr align="middle">
            <th align="middle"> Category</th>
            <th align="middle">Amount</th>
        </tr>
        {% for i in expenses %}
        <tr>
            <td>{{i.category}}</td>
            <td>{{i.amount}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>